body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
}

.calculator {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: burlywood;
}

#display {
    width: 95%;
    height: 60px;
    border: none;
    background-color: white;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;   
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: lightsalmon;
}

.zero {
    grid-column: span 2;
}
